@import "../abstracts/variables";
@import "../abstracts/mixins";

.main-section {
  @include media-up("sm") {
    display: flex;
    justify-content: space-between;
  }
}

.cover-article {
  @include media-up("sm") {
    max-width: 65%;
  }

  .cover-article__image {
    min-height: 30rem;
    object-fit: cover;
    object-position: right;
  }

  .cover-article__heading {
    margin-top: 3rem;
    font-size: 4rem;
    font-weight: $fw-extra-bold;
    line-height: 100%;
    color: $very-dark-blue;

    @include media-up(sm) {
      flex: 1;
      margin-top: unset;
      font-size: 6rem;
    }
  }

  .cover-article__text {
    color: $dark-grayish-blue;
    font-size: $fs-paragraph;
    line-height: 1.7;
    margin-top: 1rem;

    @include media-up("sm") {
      margin-top: unset;
    }
  }

  .cover-article__read-more {
    display: inline-block;
    padding: 1.5rem 3rem;
    margin-top: 2.5rem;
    background: $soft-red;
    text-decoration: none;
    text-transform: uppercase;
    color: $off-white;
    letter-spacing: 0.4rem;
    font-weight: $fw-bold;
    font-size: $fs-paragraph;
  }

  .cover-article__container {
    @include media-up("sm") {
      display: flex;
      margin-top: 4rem;
    }
  }

  .cover-article__content {
    flex: 1;
  }
}

.correlated-articles {
  margin-top: 7rem;
  background: $very-dark-blue;
  color: $off-white;
  padding: 2.8rem 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.8rem;

  @include media-up("sm") {
    margin-top: unset;
    max-width: 32%;
  }

  h2 {
    font-size: 2.4rem;
    color: $soft-orange;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    margin-top: 1rem;
    font-size: $fs-paragraph;
    color: $grayish-blue;
    line-height: 1.7;
  }

  hr {
    height: 0.1rem;
    background: $dark-grayish-blue;
    border: none;
  }
}

.most-popular-articles {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;

  @include media-up("sm") {
    gap: 2rem;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 9rem;
  }

  .most-popular-articles__article {
    display: flex;
    gap: 2.4rem;

    .most-popular-articles__article__image {
      max-width: 10rem;
    }

    .most-popular-articles__article__content {
      .most-popular-articles__article__rank {
        font-size: 3rem;
        font-weight: $fw-bold;
        color: $grayish-blue;
      }

      .most-popular-articles__article__heading {
        font-size: 1.8rem;
        font-weight: $fw-extra-bold;
        margin-top: 1rem;
      }

      .most-popular-articles__article__text {
        font-size: $fs-paragraph;
        color: $dark-grayish-blue;
        line-height: 1.7;
        margin-top: 1rem;
      }
    }
  }
}
