@import "../abstracts/variables";
@import "../abstracts/mixins";

.main-section {
  @include media-up("sm") {
    display: flex;
    justify-content: space-between;
  }
}

.cover-article {
  @include media-up("sm") {
    max-width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cover-article__image {
    min-height: 30rem;
    object-fit: cover;
    object-position: right;
  }

  .cover-article__heading {
    margin-top: 3rem;
    font-size: 4rem;
    font-weight: $fw-extra-bold;
    line-height: 100%;
    color: $very-dark-blue;

    @include media-up(sm) {
      flex: 1;
      margin-top: unset;
      font-size: 6rem;
    }
  }

  .cover-article__text {
    color: $dark-grayish-blue;
    font-size: $fs-paragraph;
    line-height: 1.7;
    margin-top: 1rem;

    @include media-up("sm") {
      margin-top: unset;
    }
  }

  .cover-article__read-more {
    display: inline-block;
    padding: 1.5rem 3rem;
    margin-top: 2.5rem;
    background: $soft-red;
    text-decoration: none;
    text-transform: uppercase;
    color: $off-white;
    letter-spacing: 0.4rem;
    font-weight: $fw-bold;
    font-size: $fs-paragraph;
    transition: background-color 300ms ease-in-out;

    &:hover {
      background: $very-dark-blue;
    }
  }

  .cover-article__container {
    @include media-up("sm") {
      display: flex;
    }
  }

  .cover-article__content {
    flex: 1;
  }
}

.correlated-articles {
  margin-top: 7rem;
  background: $very-dark-blue;
  color: $off-white;
  padding: 2.8rem 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.8rem;

  @include media-up("sm") {
    margin-top: unset;
    max-width: 32%;
    gap: 3.2rem;
  }

  .correlated-articles__section-title {
    font-size: 2.4rem;
    color: $soft-orange;

    @include media-up("sm") {
      font-size: 3.2rem;
    }
  }

  .correlated-articles__article__heading {
    font-size: 2rem;
  }

  .correlated-articles__article__link {
    color: inherit;
    text-decoration: none;
    transition: color 300ms ease-in-out;

    &:hover {
      color: $soft-orange;
    }
  }

  .correlated-articles__article__text {
    margin-top: 1rem;
    font-size: $fs-paragraph;
    color: $grayish-blue;
    line-height: 1.7;
  }

  .correlated-articles__horizontal-rule {
    height: 0.1rem;
    background: $dark-grayish-blue;
    border: none;
  }
}

.most-popular-articles {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;

  @include media-up("sm") {
    gap: 2rem;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6rem;
    margin-bottom: 9rem;
  }

  .most-popular-articles__article {
    display: flex;
    flex: 1;
    gap: 2.4rem;

    .most-popular-articles__article__image {
      max-width: 10rem;
      height: 100%;
      object-fit: cover;
    }

    .most-popular-articles__article__content {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      .most-popular-articles__article__rank {
        font-size: 3rem;
        font-weight: $fw-bold;
        color: $grayish-blue;
      }

      .most-popular-articles__article__heading {
        font-size: 1.8rem;
        font-weight: $fw-extra-bold;
      }

      .most-popular-articles__article__link {
        color: inherit;
        text-decoration: none;
        transition: color 300ms ease-in-out;

        &:hover {
          color: $soft-red;
        }
      }

      .most-popular-articles__article__text {
        font-size: $fs-paragraph;
        color: $dark-grayish-blue;
        line-height: 1.7;
      }
    }
  }
}
