.header {
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 0;
}

.logo {
  height: 3.2rem;
}

.hamburgerClosed {
  background: transparent;
  outline: 0;
  border: 0;
}

.navbar {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  right: -100%;
  transition: all 300ms ease-in-out;
  opacity: 0;

  ul {
    list-style-type: none;
  }
}

.navbarActive {
  right: 0;
  top: 0;
  opacity: 100%;
  width: 70%;
  height: 100%;
  background: white;
}
