@import "variables";

.coverArticle {
  > img {
    min-height: 30rem;
    object-fit: cover;
    object-position: right;
  }

  h2 {
    margin-top: 3rem;
    font-size: 4rem;
    font-weight: $fw-extra-bold;
    line-height: 100%;
    color: $very-dark-blue;
  }

  p {
    color: $dark-grayish-blue;
    font-size: $fs-paragraph;
    line-height: 1.7;
    margin-top: 1rem;
  }

  a.readMore {
    display: inline-block;
    padding: 1.5rem 3rem;
    margin-top: 2.5rem;
    background: $soft-red;
    text-decoration: none;
    text-transform: uppercase;
    color: $off-white;
    letter-spacing: 0.4rem;
    font-weight: $fw-bold;
    font-size: $fs-paragraph;
  }
}

.correlatedArticles {
  margin-top: 7rem;
  background: $very-dark-blue;
  color: $off-white;
  padding: 2.8rem 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.8rem;

  h2 {
    font-size: 2.4rem;
    color: $soft-orange;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    margin-top: 1rem;
    font-size: $fs-paragraph;
    color: $grayish-blue;
    line-height: 1.7;
  }

  hr {
    height: 0.1rem;
    background: $dark-grayish-blue;
    border: none;
  }
}

.mostPopularArticles {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;

  article {
    display: flex;
    gap: 2.4rem;

    img {
      max-width: 10rem;
    }

    .content {
      span {
        font-size: 3rem;
        font-weight: $fw-bold;
        color: $grayish-blue;
      }

      h3 {
        font-size: 1.8rem;
        font-weight: $fw-extra-bold;
        margin-top: 1rem;
      }

      p {
        font-size: $fs-paragraph;
        color: $dark-grayish-blue;
        line-height: 1.7;
        margin-top: 1rem;
      }
    }
  }
}
