@import "../abstracts/variables";
@import "../abstracts/mixins";

* {
  font-family: $ff-inter;
}

.container {
  padding: 0 1.6rem;

  @include media-up("sm") {
    max-width: 120rem;
    margin: 0 auto;
  }
}
